<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pinocchio - Machine Learning Service to Business</title>
<!--{{ url_for('static', filename='css/creative.css')}}-->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
    <!-- Script to instantly classify an image once it is uploaded. -->
    <script type="text/javascript">
      $(document).ready(
        function(){
          $('#classifyfile').attr('disabled',true);
          $('#imagefile').change(
            function(){
              if ($(this).val()){
                $('#formupload').submit();
              }
            }
          );
        }
      );
    </script>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css')}}" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css')}}" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/creative.css')}}" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Pinocchio</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <!--<li>-->
                         <!--<a class="page-scroll" href="#services">Services</a>-->
                    <!--</li>-->
                    <li>
                         <a class="page-scroll" href="#portfolio">Demo</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>bring machine learing to your business</h1>
                <hr>
                <p>We get your ideas validated through rapid prototyping of customized machine learning algorithm.</p>
                <a href="#services" class="btn btn-primary btn-xl page-scroll">how it works</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Got a great idea involving some ML/CV technology to improve your business?</h2>
                    <hr class="light">
                    <p class="text-faded">It is very often that such great ideas fade away due to the difficulty of even the proof-of-concept. We provide an opportunity for you to try out such ideas without making expensive and risky commitment to founding a research and development team yourself. </p>
                    <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
                </div>
            </div>
        </div>
    </section>

          <!--<section id="services">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-12 text-center">-->
                    <!--<h2 class="section-heading">Our Service</h2>-->
                    <!--<hr class="primary">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-3 col-md-6 text-center">-->
                    <!--<div class="service-box">-->
                        <!--<i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>-->
                        <!--<h3>Sturdy Templates</h3>-->
                        <!--<p class="text-muted">Our templates are updated regularly so they don't break.</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-3 col-md-6 text-center">-->
                    <!--<div class="service-box">-->
                        <!--<i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>-->
                        <!--<h3>Ready to Ship</h3>-->
                        <!--<p class="text-muted">You can use this theme as is, or you can make changes!</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-3 col-md-6 text-center">-->
                    <!--<div class="service-box">-->
                        <!--<i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>-->
                        <!--<h3>Up to Date</h3>-->
                        <!--<p class="text-muted">We update dependencies to keep things fresh.</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-3 col-md-6 text-center">-->
                    <!--<div class="service-box">-->
                        <!--<i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>-->
                        <!--<h3>Made with Love</h3>-->
                        <!--<p class="text-muted">You have to make your websites with love these days!</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->

<!--url_for('static', filename='img/portfolio/1.jpg')}}-->
    <section class="no-padding" id="portfolio">
           <!-- Begin page content -->
        <div class="container">
            <div class="row"></div>
                <div class="col-lg-12 text-center">
                    <h2>Demo</h2>
                    <hr class="primary">
                    <p>This is a light-weighted demo to classify images into "food" or "non-food".</p>
                </div>
            </div>
        </div>


        <div class="container">
            {% if has_result %}
            {% if not result[0] %}
          <!-- we have error in the result. -->
          <div class="alert alert-danger">{{ result[1] }} Did you provide a valid URL or a valid image file? </div>
          {% else %}
            <div class="media">
                <a class="pull-left" href="#portfolio"><img class="media-object" width="192" height="192" src={{ imagesrc }}></a>
                <div class="media-body">
                    <p>This image is {{result[1]}}</p>
                    <p>score: {{result[2]}}</p>
                    <p style="font-size: small">*score: non-food < 0 < food</p>
                </div>
            </div>

            {% endif %}
            {% endif %}
            <br>
            <br>

          <form role="form" action="classify_url" method="get">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" name="imageurl" id="imageurl" placeholder="Provide an image URL">
                <span class="input-group-btn">
                  <input class="btn btn-primary" value="Classify URL" type="submit" id="classifyurl"></input>
                </span>
              </div><!-- /input-group -->
            </div>
          </form>

          <form id="formupload" class="form-inline" role="form" action="classify_upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="imagefile">Or upload an image:</label>
              <input type="file" name="imagefile" id="imagefile">
            </div>
            <!--<input type="submit" class="btn btn-primary" value="Classify File" id="classifyfile"></input>-->
          </form>
    </div>
    </section>



    <aside class="bg-dark">
        <!--<div class="container text-center">-->
            <!--<div class="call-to-action">-->
                <!--<h2>Free Download at Start Bootstrap!</h2>-->
                <!--<a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>-->
            <!--</div>-->
        <!--</div>-->
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Tell us your exciting idea related to machine learning technology, and we will take care of from prototyping to final solution.</p>
                </div>
             <!--    <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div> -->
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:genegzy@gmail.com">genegzy@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>
<!--url_for('static', filename='js/creative.js') }}-->
    <!-- jQuery -->
    <script src="{{url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/jquery.fittext.js') }}"></script>
    <script src="{{url_for('static', filename='js/wow.min.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{url_for('static', filename='js/creative.js') }}"></script>

</body>

</html>
